.eventsGrid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 24px;
  margin-top: 30px;
}

@media (min-width: 585px) {
  .eventsGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
