.topContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 500px) {
  .topContainer {
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .recapContainer {
    width: 60%;
  }
}
